body
{
    background-color: rgb(50, 38, 70);
    width: 180pt;
}

.styledtext
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered
{
    text-align: center;
}