body
{
    background-color: rgb(50, 38, 70);
    width: 180pt;
}

.styledtext
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered
{
    text-align: center;
}

.centerflex
{
    display: flex;
    justify-content: center;
}

button
{
    background-color: #02722f;
    height: 30pt;
    border: #065520 solid 2pt;
    border-radius: 10pt;
}

button:hover
{
    background-color: #05451a;
    transition: 0.2;
}

button:disabled
{
    background-color: #032e11;
    transition: 0.2;
}

hr
{
    width: 90%;
    color:aliceblue;
}